@import "tailwindcss";

* {
    font-family: 'Open Sans';
}

.ellipsisToggle {
    display: none;
}

.ellipsisBtn:hover + .ellipsisToggle,
.ellipsisToggle:hover {
    display: flex;
}

:root {
  --selection-bg: rgb(255, 94, 0);
  --selection-text: rgb(0, 0, 0);
}

::selection {
  background-color: var(--selection-bg);
  color: var(--selection-text);
}

::-moz-selection {
  background-color: var(--selection-bg);
  color: var(--selection-text);
}

button, a {
    outline: none;
}

.side-left {
  position: absolute;
  background-color: #286cb5;
  width: 19px;
  height: 5px;
  transform: skew(0deg, -25deg);
  top: 14px;
  left: 10px;
}

.side-right {
  position: absolute;
  background-color: #2f85e0;
  width: 19px;
  height: 5px;
  transform: skew(0deg, 25deg);
  top: 14px;
  left: -9px;
}

.side-top {
  position: absolute;
  background-color: #5fa8f5;
  width: 20px;
  height: 20px;
  transform: rotate(45deg) skew(-20deg, -20deg);
}

.box-1 { animation: from-left 3s infinite; }
.box-2 { animation: from-right 3s infinite; animation-delay: .75s; }
.box-3 { animation: from-left 3s infinite; animation-delay: 1.5s; }
.box-4 { animation: from-right 3s infinite; animation-delay: 2.25s; }

@keyframes from-left {
  0% { z-index: 20; opacity: 0; transform: translate(-20px, -6px); }
  20% { z-index: 10; opacity: 1; transform: translate(0, 0); }
  40% { z-index: 9; transform: translate(0, 4px); }
  60% { z-index: 8; transform: translate(0, 8px); }
  80% { z-index: 7; opacity: 1; transform: translate(0, 12px); }
  100% { z-index: 5; opacity: 0; transform: translate(0, 30px); }
}

@keyframes from-right {
  0% { z-index: 20; opacity: 0; transform: translate(20px, -6px); }
  20% { z-index: 10; opacity: 1; transform: translate(0, 0); }
  40% { z-index: 9; transform: translate(0, 4px); }
  60% { z-index: 8; transform: translate(0, 8px); }
  80% { z-index: 7; opacity: 1; transform: translate(0, 12px); }
  100% { z-index: 5; opacity: 0; transform: translate(0, 30px); }
}
